html{
        background: url(../resources/fog.jpeg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
         background-size: cover;
         font-size: 16px;
         
}

h1{
        font-size: 2.0em;
}

h2{
        font-size: 1.3em;
        text-align:center;
}

h3{
        font-size: 1em;
}

.column{
        text-align: center;
}

.boxer{
        text-align: center;
        padding:2.5%;
}

i{
        padding: 1%;
        color:#02380a;
}
