<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Bellefair|Open+Sans" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../styles/bulma.css">
        <link rel="stylesheet" type="text/css" href="../styles/main.css">
        
    </head>
    <body>
        <nav class="navbar is-transparent" style="opacity:.7">
            <div class="navbar-brand">
                <a class="navbar-item">
                    Marion Pearson
                </a>

                <a class="navbar-item is-hidden-desktop" href="https://github.com/marionpearson" target="_blank">
                    <span class="icon" style="color: #333;">
                    </span>
                </a>

                <div class="navbar-burger burger" data-target="navMenuTransparentExample">
                <span></span>
                <span></span>
                <span></span>
                </div>
            </div>

            <div class="navbar-menu">
                <div class="navbar-start">
                <div class="navbar-item">
                    <a class="navbar-link  is-active">
                        Portfolio
                    </a>
                </div>
                <div class="navbar-item">
                    <a class="navbar-link ">
                        Contact
                    </a>
                </div>
            </div>
            <div class="navbar-end">
                <a class="navbar-item" href="https://github.com/marionpearson" target="_blank">
                    Github
                </a>
                <a class="navbar-item" href="https://twitter.com/jgthms" target="_blank">
                    Resume
                </a>
            </div>
        </div>
    </nav>
    <br>

    <div class="container" style="background-color:rgba(255,255,255,0.5); width: 60%;  border-radius: 25px; margin:auto;">
        <div style="opacity:1;">
            <h1 style="text-align: center; padding:2.5%"><strong>Marion Pearson</strong></h1>
            <h2 style="text-align: center;"> Web Developer </h2>
            <div class="boxer"><h2>Omaha, Nebraska</h2></div>
            <div class="boxer"><a class="button is-large" style="background-color: #02380a; color: white;">Contact Me</a></div>
        </div>
    </div>
    <br>

    <div class="container" style="background-color:rgba(255,255,255,0.5); width: 60%; border-radius: 25px; margin:auto;">
        <div style="opacity: 1">
            <h1 style="text-align: center; padding:2.5%"><strong>Services</strong></h1>
            <div class="columns" style="padding: 2.5%">
                <div class="column"><h2>Responsive Website Development</h2></div>
                <div class="column"><h2>Single Page Applications</h2></div>
                <div class="column"><h2>RESTFUL APIs</h2></div>
            </div>
        </div>
    </div>



    </body>
</html>